[Unit]
Description=ELK: Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/srv/docker-elk
ExecStart=/bin/docker-compose up
ExecStop=/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
#StandardOutput=/var/log/elk/output.log
#StandardError=/var/log/elk/error.log


[Install]
WantedBy=multi-user.target
